#navbar{

    margin: 2px;
    padding: 2px;
    height: 80px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    border: 2px solid black;
}

a{
    text-decoration: none;
}